*{
  padding:0;
  margin:0;
  box-sizing:border-box;
  font-family: 'Rubik',sans-serif;
}
.page-wrapper{
  width:960px;
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  margin:0 auto;
  padding-top:10px;
}
img{
  width:200px;
  height:200px;
}
.wrapper{
   margin-bottom:20px;
}
h2{
  margin-bottom:5px;
  font-size:20px;
  text-decoration:underline;
}
h3{
  font-size:16px;
}
h1{
  margin-bottom:5px;
  font-size:24px;
}
li{
  list-style:none;
  padding-bottom:5px;
  font-size: 16px;
}
a{
  color:midnightblue;
}
.card{
  background-color:#f1c5ae;
  padding:10px;
  border-radius:5px;
  margin-bottom:5px;
}
p{
  font-size: 16px;
}
.side1{
  padding:5px;
  background-color:#ECDDD0;
}
.side2{

  background-color:#ECDDD0;
  padding:5px;
}

/*Media queries*/
@media (max-width:750px){
  .page-wrapper{
    width:95%;
    grid-template-columns: 1fr;
  }
}
